body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.form {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form button {
    width: 100%;
    padding: 18px;
    margin: 13px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    transition: 0.2s;
}

.form button:hover {
    background: #f0f0f0;
}

