* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 20px;
}

.form-card {
    background: white;
    width: 100%;
    max-width: 420px;
    padding: 35px;
    border-radius: 14px;
    border: 1px solid #dce3da;
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
}

.form-card h2 {
    font-size: 1.7rem;
    margin-bottom: 12px;
    color: #4a606b;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #cfd8cc;
    border-radius: 8px;
    transition: 0.25s;
    background: #ffffff;
    font-size: 1rem;
}

input:hover {
    border-color: #9ac68b;
    background-color: #f3faf0;
}

input#email {
    margin-bottom: 15px;
}

input:focus {
    border-color: #38880d;
    box-shadow: 0 0 4px rgba(56, 136, 13, 0.4);
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button {
    background-color: #5db12f;
    color: white;
    letter-spacing: 0.5px;
}

button:hover {
    transform: translateY(-1px);
}

@media (max-width: 700px) {
    .form-card {
        padding: 25px;
    }

    .form-card h2 {
        font-size: 1.6rem;
    }

    button {
        padding: 12px;
        font-size: 1rem;
    }
}